.illustration {
  width: 600px;
  height: 475px;
  position: relative;
  display: flex;
  align-items: center;

  &__img {
    display: block;
    height: 475px;
    width: 475px;
    border-radius: 6px;

    &_left {
      margin-left: auto;
    }

    &_right {
      margin-right: auto;
    }
  }

  &__frame {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 250px;
    border: 20px solid #e8c300;
    border-radius: 5px;
    box-sizing: border-box;
    filter: drop-shadow(0 0px 100px rgba(0, 0, 0, 0.5));

    &_right {
      margin-left: -100%;
      order: 3;
    }

    &_left {
      order: -1;
      margin-right: -100%;
    }
  }

  &__label {
    z-index: 10;
    display: inline-block;
    width: 476px;
    height: 80px;
    background-color: #000000;
    font-family: Banny;
    font-size: 24px;
    line-height: 80px;
    text-indent: 20px;
    text-transform: uppercase;
    color: #ffffff;

    &_left {
      border-radius: 5px 5px 0 0;
      order: 3;
      margin-left: -79.2%;
      align-self: flex-start;
    }

    &_right {
      order: -1;
      margin-right: -79.2%;
      border-radius: 5px 5px 0 0;
      align-self: flex-start;
    }
  }
}

@media screen and (max-width: 1300px) {
  .illustration {
    width: 46.16vw;
    height: 36.543vw;

    &__img {
      width: 36.543vw;
      height: 36.543vw;
    }

    &__frame {
      width: 19.235vw;
      height: 19.235vw;
      border: 1.54vw solid #e8c300;
    }

    &__label {
      width: 36.543vw;
      height: 6.155vw;
      line-height: 6.155vw;

      &_left {
        margin-left: -36.543vw;
      }

      &_right {
        margin-right: -36.543vw;
      }
    }
  }
}
