//- framePosition left | Right

mixin illustration(imgSrc, className, framePosition, label)
    if className
        div.illustration(class=className)
            if framePosition
                if label
                    div.illustration__label(class="illustration__label_"+framePosition)=label
                img.illustration__img(class="illustration__img_"+framePosition, src=imgSrc)
                div.illustration__frame(class="illustration__frame_"+framePosition)

            else
                img.illustration__img(src=imgSrc)
                div.illustration__frame.illustration__frame_right