div.menu
    h1.menu__title delicious menu
    div.menu__decoration
    h2.menu__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.
    div.menu__list(id='menu')
    script(src="./components/menu/menu.js")