//- Article:
- var title = "chocolate pancakes";
- var subtitle = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.";
- var text = "Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.";

- var paths = ["./img/specialties/specialties1.jpg", "./img/specialties/specialties2.jpg", "./img/specialties/specialties3.jpg"];
- var titles = ["chocolate pancakes", "strawberry cheesecake", "grilled sandrich"];

include ./../simple/illustration/illustration
include ./../simple/article/article

div.specialties(id="specialties")
    div.specialties__decoration
        svg.specialties__decoration__line(width="1px" height="100%")
            line(x1="0" y1="1" x2="0" y2="100%" stroke="rgba(255, 255, 255, 0.2)")
        svg.specialties__decoration__line(width="62px" height="100%")
            line(x1="31" y1="0" x2="31" y2="100%" stroke="rgba(255, 255, 255, 0.2)" stroke-width="0.5")
        svg.specialties__decoration__line(width="1px" height="100%")
            line(x1="0" y1="1" x2="0" y2="100%" stroke="rgba(255, 255, 255, 0.2)")
    div.specialties__label specialties
    div.specialties__slider
        - var i = 0;
        - for (var i; i < 3; ++i) {
            div.specialties__slider__info
                +illustration(paths[i], "specialties__slider__illustration", "left")
                +article(titles[i], subtitle, text, "specialties__slider__article")
        - };
    div.specialties__control
        form.specialties__control__block(action="action")
            input.specialties__control__block__button(checked type="radio" name="rb" id="b_0" value="img1")
            label.specialties__control__block__button__label(for="b_0")
            input.specialties__control__block__button(type="radio" name="rb" id="b_1" value="img2")
            label.specialties__control__block__button__label(for="b_1")
            input.specialties__control__block__button(type="radio" name="rb" id="b_2" value="img3")
            label.specialties__control__block__button__label(for="b_2")