@import "./../../fonts/colors-fonts.scss";

.break {
  width: 100%;
}

.home {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./../../img/header-bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
  width: 100%;
  display: block;

  &__decoration {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 700px;
    position: absolute;
    top: 100px;
    z-index: 0;
  }

  &__down-btn {
    display: block;
    position: relative;
    top: 317px;
    width: 40px;
    height: 40px;
    background-color: $main;
    color: #333333;
    text-decoration: none;
    border-radius: 50%;
    font-family: $fontIcon;
    font-size: 40px;
    line-height: 40px;
    margin: auto;
    z-index: 2;

    &:hover {
      background-color: $accent;
      color: $main;
    }
  }

  &__header {
    width: 100%;

    &__logo {
      display: inline-block;
      position: absolute;
      left: 50%;
      width: 150px;
      height: 150px;
      padding-top: 25px;
      transform: translate(-50%, 0%);
    }

    &__menu {
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      &__item {
        flex-basis: 10%;
        display: inline-block;
        text-align: center;
        width: 60px;
        font-family: $fontSecondary;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        text-transform: uppercase;
        text-decoration: none;
        color: $main;
        line-height: 100px;

        &:hover {
          background-color: $main-hover;
        }

        &:nth-child(4) {
          margin-right: 75px;
        }

        &:nth-child(5) {
          margin-left: 75px;
        }
      }

      &__underline {
        &:first-of-type {
          margin-right: 75px;
        }
        &:last-of-type {
          margin-left: 75px;
        }
      }
    }

    &__label {
      font-family: $fontPrimary;
      color: $main;
      font-size: 96px;
      text-transform: uppercase;
    }
  }

  &__main {
    width: 100%;
    height: 250px;
    position: relative;
    top: 225px;

    &__decoration {
      width: 60px;
      height: 5px;
      background: $accent;
      border-radius: 50px;
      margin: auto;
    }

    &__menu {
      width: 440px;
      height: 60px;
      display: flex;
      justify-content: space-between;
      margin: auto;
      margin-top: 29px;
      color: $main;

      &__button {
        display: inline-block;
        width: 200px;
        height: 100%;
        text-decoration: none;
        border-radius: 5px;
        line-height: 100%;
        font-family: OpenSans;
        font-size: 12px;
        line-height: 60px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 400;

        &_book {
          color: $main;
          background-color: $accent;

          &:hover {
            border: 1px solid $main;
            box-sizing: border-box;
            line-height: 58px;
          }
        }

        &_explore {
          color: $main;
          border: 1px solid $main;
          box-sizing: border-box;

          &:hover {
            background-color: $main-hover;
          }
        }
      }
    }

    &__name {
      display: inline-block;
      width: 100%;
      height: 139px;
      line-height: 139px;
      font-family: $fontPrimary;
      font-size: 96px;
      text-transform: uppercase;
      color: $main;
      text-align: center;
    }

    &__type {
      font-family: OpenSans;
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      letter-spacing: 0.5em;
      text-transform: uppercase;
      color: $main;
    }
  }

  &__social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: 4vw;
    top: 340px;
    width: 60px;
    height: 220px;

    &__button {
      display: block;
      width: 60px;
      height: 60px;
      box-sizing: border-box;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 50%;

      &_fb:hover {
        background-color: #1877f2;
        border: none;
      }

      &_tw:hover {
        background-color: #1da1f2;
        border: none;
      }

      &_ig:hover {
        background: radial-gradient(
          circle at 30% 107%,
          #fdf497 0%,
          #fdf497 5%,
          #fd5949 45%,
          #d6249f 60%,
          #285aeb 90%
        );
        border: none;
      }

      & > img {
        display: block;
        width: 25px;
        height: 25px;
        margin: auto;
        margin-top: 17.5px;
      }

      &:hover > img {
        margin-top: 18.5px;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .home {
    &__social {
      top: 700px;
      flex-direction: row;
      width: 220px;
      height: 60px;
    }
  }
}
