div.gallery(id="gallery")
    div.gallery__viewbox
        div.gallery__imgs
            - for(let i = 1; i <= 8; i++)
                img.gallery__imgs__item(src="./img/gallery/gallery"+i+".jpg")
    div.gallery__control
        div.gallery__control__left keyboard_arrow_left
        div.gallery__control__right keyboard_arrow_right