div.about-us
    div.about-us__info
        h1.about-us__info__title About us
        div.about-us__info__decoration
        h2.about-us__info__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.
        p.about-us__info__text Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.
    div.about-us__illustration
        img.about-us__illustration__img(src="./img/about-us.png")
        div.about-us__illustration__frame