<!DOCTYPE html>
html(lang="en")
    head
        title Hungry people
        link(rel="shortcut icon" href="./img/logo.svg")
    body
        include ./components/home/home.pug
        include ./components/about-us/about-us.pug
        script(src='./main.js')