<!DOCTYPE html>
html(lang="en")
    head
        title Hungry people
    body
        include ./components/home/home.pug
        include ./components/about-us/about-us.pug
        script(src='./main.js')