* {
  margin: 0;
  padding: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  pointer-events: none;
}

body {
  overflow-x: hidden;
}

h1 {
  margin: 0;
  padding: 0;
}
