div.private-events(id="private-events")
    div.private-events__decoration
        svg.private-events__decoration__line(width="1px" height="100%")
            line(x1="0" y1="1" x2="0" y2="100%" stroke="rgba(255, 255, 255, 0.2)")
        svg.private-events__decoration__line(width="62px" height="100%")
            line(x1="31" y1="0" x2="31" y2="100%" stroke="rgba(255, 255, 255, 0.2)" stroke-width="0.5")
        svg.private-events__decoration__line(width="1px" height="100%")
            line(x1="0" y1="1" x2="0" y2="100%" stroke="rgba(255, 255, 255, 0.2)")
    div.private-events__label private events
    div.private-events__info
        include ./../simple/illustration/illustration
        +illustration("./img/private-events/private-events1.png", "private-events__illustration", "left", "weddings")
        +illustration("./img/private-events/private-events2.png", "private-events__illustration", "right", "corporate parties")
    div.private-events__footer Mon - Fri: 8PM - 10PM, Sat - Sun: 8PM - 3AM, Phone: +40 729 131 637/+40 726 458 782